body {
  margin: 0;
}

:root,
[data-theme="light"] {
  --slide-content-padding: 8rem;
  --color-text-primary: #000000de;
  --color-text-secondary: #00000099;
  --color-text-tertiary: #00000061;
  --color-background: #ffffff;
}

[data-theme="dark"] {
  --color-text-primary: #ffffffde;
  --color-text-secondary: #ffffff99;
  --color-text-tertiary: #ffffff61;
  --color-background: #121212;
}

html {
  font-size: calc(1vw * 9 / 16);
}

@media screen and (min-aspect-ratio: 16 / 9) {
  html {
    font-size: 1vh;
  }
}
