pyro-slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 4rem;
}

pyro-slide.hydrated {
  visibility: hidden;
}

pyro-slide.active.hydrated {
  visibility: visible;
}

pyro-slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  height: 100rem;
  width: calc(100rem * 16 / 9);
  padding: var(--slide-content-padding);
}

pyro-slide > .slide-title {
  position: absolute;
  top: var(--slide-content-padding);
  left: var(--slide-content-padding);
}

pyro-slide > .slide-title h2 {
  margin: 0;
}

pyro-slide > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 2;
}

pyro-slide blockquote {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

pyro-slide blockquote p::before {
  content: "\201C";
}

pyro-slide blockquote p::after {
  content: "\201D";
}

pyro-slide blockquote footer:before {
  content: "—";
}
