ps-controls {
  display: flex;
  transition: opacity 0.5s;
}

ps-presentation ps-controls {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
}

ps-presentation.inactive:fullscreen ps-controls:not(:focus-within) {
  opacity: 0;
}

ps-controls .control-button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

ps-controls .control-button svg {
  fill: var(--color-text-primary);
  width: 72px;
  height: 72px;
  transition: width 0.3s, height 0.3s;
}

ps-controls .control-button,
ps-controls .control-button:hover svg,
ps-controls .control-button:focus svg {
  width: 96px;
  height: 96px;
}

ps-controls .fullscreen-icon {
  display: inline;
}
ps-controls .fullscreen-exit-icon {
  display: none;
}

ps-presentation:not(:fullscreen) .fullscreen-icon,
ps-presentation:fullscreen .fullscreen-exit-icon {
  display: inline;
}

ps-presentation:fullscreen .fullscreen-icon,
ps-presentation:not(:fullscreen) .fullscreen-exit-icon {
  display: none;
}
