pyro-slide-content {
  display: block;
  box-sizing: border-box;
  width: var(--slide-content-width);
  height: var(--slide-content-height);
  padding: var(--slide-content-padding);
}

pyro-slide-content h1 {
  margin: 0;
}
