body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

:root,
[data-theme="light"] {
  --slide-content-padding: 8rem;
  --color-text-primary: #000000de;
  --color-text-secondary: #00000099;
  --color-text-tertiary: #00000061;
  --color-background: #ffffff;
}

[data-theme="dark"] {
  --color-text-primary: #ffffffde;
  --color-text-secondary: #ffffff99;
  --color-text-tertiary: #ffffff61;
  --color-background: #121212;
  --color-code-text: #abb2bf;
  --color-code-comment: #5c6370;
  --color-code-property: #d19a66;
  --color-code-string: #98c379;
  --color-code-function: #61afef;
  --color-code-keyword: #c678dd;
  --color-code-operator: #56b6c2;
  --color-code-tag: #e06c75;
}

html {
  font-size: calc(1vw * 9 / 16);
}

@media screen and (min-aspect-ratio: 16 / 9) {
  html {
    font-size: 1vh;
  }
}
