pyro-slide {
  display: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  font-size: 4rem;
}

pyro-slide.active {
  display: flex;
}

pyro-slide-content {
  display: block;
  box-sizing: border-box;
  height: 100rem;
  width: calc(100rem * 16 / 9);
  padding: 8rem;
}
