pyro-slide {
  display: block;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

pyro-slide-content {
  display: block;
  box-sizing: border-box;
  width: var(--slide-content-width);
  height: var(--slide-content-height);
  padding: var(--slide-content-padding);
}
